/Apresentação - Pasa.mp4
/desktop.ini
/DroidCamApp.lnk
/Excel.lnk
/Felipe - Chrome.lnk
/Felipe Ramirez Oliveira.docx
/Felipe Ramirez Oliveira.pdf
/Jogos
/Microsoft Edge.lnk
/Pokemon - Emerald Version (USA, Europe).gba
/Pokemon - SoulSilver Version (USA, Australia).nds
/Projetos Python
/Spotify.lnk
/teste internet.png
/time de pokefusoes] (1).png
/Word.lnk
/yuzu.lnk
/__pycache__